/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/
    --white: #ffffff;

    /* Border variables */

    /* Hover variables */

    /* Size variables */

    /* Transition variables */

}

/******************************************************************************/
/*********************************** Sizes ************************************/
/******************************************************************************/
.width-100-p{
    width: 100%;
}
.height-100-p{
    height: 100%;
}

/******************************************************************************/
/********************************* Overflow ***********************************/
/******************************************************************************/
.ov-x-hidden{
    overflow-x: hidden;
}

/******************************************************************************/
/********************************** Flexbox ***********************************/
/******************************************************************************/
.d-flex{
    display: flex;
}

/******************************************************************************/
/********************************** Text **************************************/
/********************************** Colors ************************************/
/******************************************************************************/
.txt-white{
    color: var(--white);
}