/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/
    --white: #ffffff;
    --orange: #ff5500;

    /* Border variables */

    /* Hover variables */

    /* Size variables */
    --fs-menu: 1.2rem;
    --fs-h2: 2rem;
    --fs-p: 1.1rem;

    /* Transition variables */

}

/******************************************************************************/
/*********************************** Sizes ************************************/
/******************************************************************************/
.width-100-p{
    width: 100%;
}
.height-100-p{
    height: 100%;
}

/******************************************************************************/
/********************************* Font-Sizes *********************************/
/******************************************************************************/
.fs-menu{
    font-size: var(--fs-menu);
}
.fs-h2{
    font-size: var(--fs-h2);
}
.fs-p{
    font-size: var(--fs-p);
}

/******************************************************************************/
/********************************* Paddings ***********************************/
/******************************************************************************/
.pd-1rem{
    padding: 1rem;
}
.pd-t-3rem{
    padding-top: 3rem;
}

/******************************************************************************/
/********************************* Overflow ***********************************/
/******************************************************************************/
.ov-x-hidden{
    overflow-x: hidden;
}

/******************************************************************************/
/********************************** Flexbox ***********************************/
/******************************************************************************/
.d-flex{
    display: flex;
}
.d-f-just-sp-between{
    justify-content: space-between;
}
.d-f-vert-align{
    align-items: center;
    align-content: center;
}
.gap-2rem{
    gap: 2rem;
}

/******************************************************************************/
/********************************** Text **************************************/
/********************************** Colors ************************************/
/******************************************************************************/
.txt-white{
    color: var(--white);
}
.txt-orange{
    color: var(--orange);
}