/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/
    --white: #ffffff;
    --orange: #ff5500;
    --light-orange: #fa7f42;
    --purple: #8e3286c5;
    --dark: #1e1e1e;

    /* Border variables */

    /* Hover variables */

    /* Size variables */
    --fs-hamburger: 1.5rem;
    --fs-menu: 1.2rem;
    --fs-h1: 5rem;
    --fs-h2: 2rem;
    --hs-h3: 1.5rem;
    --fs-p: 1.1rem;

    /* Transition variables */

}

/******************************************************************************/
/*********************************** Sizes ************************************/
/******************************************************************************/
.width-100-p{
    width: 100%;
}
.width-70-p{
    width: 70%;
}
.width-25-p{
    width: 25%;
}
.height-100-p{
    height: 100%;
}
.sqr-size-15vw{
    width: 15vw;
    height: 15vw;
}
.sqr-size-220px{
    width: 220px;
    height: 220px;
}
.sqr-size-50px{
    width: 50px;
    height: 50px;
}
.width-300px{
    width: 300px;
}
.min-width-60px{
    min-width: 60px;
}

/******************************************************************************/
/********************************* Font-Sizes *********************************/
/******************************************************************************/
.fs-hamburger{
    font-size: var(--fs-hamburger);
}
.fs-menu{
    font-size: var(--fs-menu);
}
.fs-h1{
    font-size: var(--fs-h1);
}
.fs-h2{
    font-size: var(--fs-h2);
}
.fs-h3{
    font-size: var(--hs-h3);
}
.fs-p{
    font-size: var(--fs-p);
}

/******************************************************************************/
/******************************** Font-Weight *********************************/
/******************************************************************************/
.fw-bold{
    font-weight: 800;
}
.fw-semibold{
    font-weight: 600;
}

/******************************************************************************/
/********************************* Margins ************************************/
/******************************************************************************/
.mrg-t-b-2rem{
    margin: 1rem 0;
}
.mrg-t-6rem{
    margin-top: 6rem;
}
.mrg-b-6rem{
    margin-bottom: 6rem;
}

/******************************************************************************/
/********************************* Paddings ***********************************/
/******************************************************************************/
.pd-1rem{
    padding: 1rem;
}
.pd-2rem{
    padding: 2rem;
}
.pd-t-1rem{
    padding-top: 1rem;
}
.pd-t-3rem{
    padding-top: 3rem;
}
.pd-t-6rem{
    padding-top: 6rem;
}
.pd-b-0_6rem{
    padding-bottom: 0.6rem;
}
.pd-b-1_5rem{
    padding-bottom: 1.5rem;
}
.pd-b-3rem{
    padding-bottom: 3rem;
}
.pd-b-6rem{
    padding-bottom: 6rem;
}

/******************************************************************************/
/********************************* Overflow ***********************************/
/******************************************************************************/
.ov-hidden{
    overflow: hidden;
}
.ov-x-hidden{
    overflow-x: hidden;
}

/******************************************************************************/
/********************************** Flexbox ***********************************/
/******************************************************************************/
.d-flex{
    display: flex;
}
.d-f-column{
    flex-direction: column;
}
.d-f-just-sp-between{
    justify-content: space-between;
}
.d-f-just-center{
    justify-content: center;
}
.d-f-vert-align-center{
    align-items: center;
    align-content: center;
}
.d-f-align-stretch{
    align-items: stretch;
}
.d-f-wrap{
    flex-wrap: wrap;
}
.d-f-row-reverse{
    flex-direction: row-reverse;
}
.gap-0_5rem{
    gap: 0.5rem;
}
.gap-1rem{
    gap: 1rem;
}
.gap-2rem{
    gap: 2rem;
}

/******************************************************************************/
/********************************** Text **************************************/
/********************************** Colors ************************************/
/******************************************************************************/
.txt-white{
    color: var(--white);
}
.txt-orange{
    color: var(--orange);
}
.txt-light-orange{
    color: var(--light-orange);
}

/******************************************************************************/
/********************************** Text **************************************/
/********************************** Settings **********************************/
/******************************************************************************/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

/******************************************************************************/
/********************************** Bakground *********************************/
/********************************** Colors ************************************/
/******************************************************************************/
.bg-purple{
    background-color: var(--purple);
}
.bg-white{
    background-color: var(--white);
}
.bg-dark{
    background-color: var(--dark);
}
.bg-orange{
    background-color: var(--orange);
}
.bg-light-orange{
    background-color: var(--light-orange);
}

/******************************************************************************/
/********************************** Shadows ***********************************/
/********************************** Colors ************************************/
/******************************************************************************/
.sh-5px-purple{
    box-shadow: 0 0 10px var(--purple);
}

/******************************************************************************/
/********************************** Borders ***********************************/
/******************************************************************************/
.bdr-5px-orange{
    border: 5px solid var(--orange);
}
.bdr-5px-light-orange{
    border: 5px solid var(--light-orange);
}
.bdr-rad-50-p{
    border-radius: 50%;
}
.bdr-rad-30px{
    border-radius: 30px;
}
.bdr-rad-15px{
    border-radius: 15px;
}
.bdr-rad-top-5px{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/******************************************************************************/
/********************************** Buttons ***********************************/
/******************************************************************************/
.btn-orange{
    background-color: var(--light-orange);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    transition: all 0.3s linear;
}
.btn-orange:hover{
    background-color: var(--orange);
}

/******************************************************************************/
/******************************** Transitions *********************************/
/******************************************************************************/
.trans-all-0_3s-linear{
    transition: all 0.3s linear;
}