@import url("./general-styles-library.css");

/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/

    /* Border variables */

    /* Hover variables */

    /* Size variables */
    --wrapper-pd-top: 3rem;
    --header-height: 90px;

    /* Transition variables */

    /* System variables */
    --card-per-row: 3;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    padding-top: calc(var(--header-height) + var(--wrapper-pd-top));
}
.wrapper section{
    max-width: 1200px;
    margin: 0 auto;
}

/*****************************************************************/
/***************************** Header ****************************/
/*****************************************************************/
header nav{
    background: linear-gradient(#d90760, #8e3287);
    height: var(--header-height);
    box-shadow: 0 0 10px #8e3287;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/*****************************************************************/
/***************************** Cards *****************************/
/*****************************************************************/
.card{
    width: calc(100% / var(--card-per-row) - 2rem);
    min-width: 270px;
}
.image img{
    object-fit: cover;
}
.wave{
    height: 100px;
    background-color: var(--purple);
    -webkit-mask-image: url("../assets/svg/wave.svg");
    mask-image: url("../assets/svg/wave.svg");
}
.wave.rotate{
    transform: rotate(180deg);
    margin-top: 0;
}