/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/

    /* Border variables */

    /* Hover variables */

    /* Size variables */
    --header-height: 90px;

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: var(--header-height);
}

/*****************************************************************/
/***************************** Header ****************************/
/*****************************************************************/
header nav{
    background: linear-gradient(#d90760, #8e3287);
    height: var(--header-height);
    box-shadow: 0 0 10px #8e3287;
    position: fixed;
}