/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/

    /* Border variables */

    /* Hover variables */

    /* Size variables */
    --header-height: 90px;

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}

/*****************************************************************/
/***************************** Header ****************************/
/*****************************************************************/
header nav{
    background: linear-gradient(#cb2b5f, #743a87);
    height: var(--header-height);
}