@media screen and (max-width: 970px) {
    :root{
        --fs-h1: 3rem;
    }
    #why-this-name>div{
        flex-flow: column;
        gap: 3rem;
    }
    #traditions a{
        min-height: 330px;
    }
    #menu-hamburger{
        display: block!important;
    }
    #menu-links{
        display: none;
    }
}