@media screen and (max-width: 970px) {
    :root{
        --fs-menu: 1.5rem;
        --fs-menu-drop: 1.3rem;
        --fs-h1: 3rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1.2rem;
        --fs-h4: 1.1rem;
        --fs-p: 1rem;
        --time-card-per-row: 2!important;
    }
    #why-this-name>div, #location>div, #speakerContent>div{
        flex-flow: column;
        gap: 3rem;
    }
    #speakerContent>div #contacts{
        margin-top: 0.5rem;
    }
    #speakerContent>div>div{
        width: 100%;
    }
    #why-this-name>div div:last-child, #location>div div:last-child, #speakerContent>div #presentation{
        width: 100%;
        text-align: justify;
        padding: 0;
    }
    #traditions a{
        min-height: 330px;
    }
    #menu-hamburger{
        display: flex!important;
    }
    #menu-hamburger i{
        border: 2px solid var(--white);
        padding: 12px 13px;
    }
    #menu-links{
        display: none;
    }
    #hide-show-menu:hover>ul{
        padding: 0!important;
        gap: 0;
    }
    #hide-show-menu:hover>ul li{
        width: 100%;
        text-align: center;
        border: 0;
    }
    #hide-show-menu:hover>ul li:hover{
        border: 0;
        background-color: #d90760;
    }
    #hide-show-menu:hover>ul li a{
        width: 100%;
        display: inline-block;
        padding: 0.5rem;
    }
    #hide-show-menu:hover>ul{
        height: auto;
        width: 100%;
        flex-flow: column;
        display: flex;
        position: fixed;
        right: 0;
        background-color: #8e3287;
        padding: 1rem 3rem;
        box-shadow: 0 0 10px #8e3287;
    }
    .dropdown-menu{
        display: none;
    }
    .dropdown:hover .dropdown-menu{
        height: auto;
        width: auto;
        flex-flow: column;
        display: flex;
        flex-direction: column;
        background-color: #bb61b2;
        gap: 0.5rem;
        font-size: var(--fs-menu-drop);
    }
    .dropdown:hover .dropdown-menu li a:hover{
        background-color: #b644aa;
    }
}
@media screen and (max-width: 450px) {
    :root{
        --header-height: 60px!important;
        --fs-menu: 1.3rem;
        --fs-menu-drop: 1.1rem;
        --fs-h1: 2.5rem;
        --fs-h2: 1.3rem;
        --fs-h3: 1.1rem;
        --fs-h4: 1rem;
        --fs-p: 0.9rem;
        --fs-footer: 0.8rem;
    }
    #menu-hamburger i{
        border: 2px solid var(--white);
        padding: 10px 11px;
    }
    .sqr-size-220px{
        width: 175px;
        height: 175px;
    }
    footer p{
        font-size: var(--fs-footer);
    }
    #buy-ticket>div>div,#contacts>div>div{
        flex-direction: column;
    }
    #buy-ticket>div,#contacts>div{
        gap: 4rem;
    }
    #buy-ticket>div>div>section h2,#contacts>div>div>section h2{
        padding: 0 0 1rem 0;
    }
    #contacts>div>div>section h2{
        text-align: center;
    }
    #commands a{
        font-size: var(--fs-h1);
    }
    #commands a>span{
        display: none;
    }
}
@media screen and (min-width: 971px){
    .dropdown-menu{
        display: none;
    }
    .dropdown:hover .dropdown-menu{
        height: auto;
        width: auto;
        flex-flow: column;
        display: flex;
        position: fixed;
        top: calc(var(--header-height) - 1.15em);
        background-color: #bb61b2;
        box-shadow: 0 0 10px #8e3287;
    }
    .dropdown:hover .dropdown-menu li{
        padding: 0.7rem 1.4rem;
    }
    .dropdown:hover .dropdown-menu li:hover{
        background-color: #b644aa;
        border: 0;
    }
}
@media screen and (max-width: 712px) {
    :root{
        --time-card-per-row: 1!important;
    }
}