/*****************************************************************/
/***************************** Custom ****************************/
/**************************** scrollbar **************************/
/*****************************************************************/
::-webkit-scrollbar {
    width: 12px;
}
  
/**********************************************************/
/************************* Track **************************/
/**********************************************************/
::-webkit-scrollbar-track {
    background: #dcbfd9;
}

/**********************************************************/
/************************* Thumb **************************/
/**********************************************************/
::-webkit-scrollbar-thumb {
    background: #8e328665;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #7e157565;
}