/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/

    /* Border variables */

    /* Hover variables */

    /* Size variables */

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}